<div class='app-container'>
    <div class='header-section'>
        <div class='heading-content'>Guaranteed Higher Scores! Only with easyMath</div>
    </div>
    <div class="middle-footer-container">
        <div *ngIf="monthlyData && yearlyData" class='middle-section'>
            <mat-tab-group class="tab-section" mat-align-tabs="start" [disableRipple]=true (selectedTabChange)="onTabChange($event)">
                <mat-tab label="Yearly Courses">
                    <div>
                        <app-yearly [yearlyData]="yearlyData"></app-yearly>
                    </div>
                </mat-tab>
                <mat-tab label="Monthly Courses">
                    <div>
                        <app-montly [monthlyData]="monthlyData"></app-montly>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <!-- <div class='footer-section'>
            <div>Footer content</div>
        </div> -->
    </div>
</div>